name: Run Python Tests
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Python 3.6
        uses: actions/setup-python@v1
        with:
          python-version: 3.6
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Make executeable
        run: chmod +x ./runner.sh
      - name: Run tests with pytest
        run: "${GITHUB_WORKSPACE}/runner.sh" 